openapi: 3.0.3
info:
  title: 'Stato della piattaforma PN'
  version: v1.0
  description: >- 
    Queste API permettono la visualizzazione dello stato dei servizi di Piattaforma Notifiche 
    e dello storico dei disservizi; per ogni disservizio è possibile scaricare il corrispondente
    atto opponibile a terzi che lo "certifica". <br/>
    Inoltre l'operazione _addStatusChangeEvent_ permette di inserire eventi di inizio o fine di 
    un disservizio utile in quei casi in cui il sistema automatico non rivela il problema.
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
- url: https://api.pn.pagopa.it
  description: Ambiente di produzione
- url: https://api.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://api.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: Read
    description: >-
      Lettura dello stato di PN, API pubbliche
  - name: Write
    description: >-
      Aggiornamento dello stato di PN, API sottoposte ad autenticazione.

paths:
    ###########################################################################################
    ###                                 LETTURA DELLO STATO                                 ###
    ###########################################################################################
  "/downtime/status":
    get:
      summary: Stato attuale
      description: >-
        Metodo che restituisce l'elenco delle funzionalità di Piattaforma Notifiche e l'elenco
        dei disservizi presenti al momento dell'invocazione.
      tags:
        - Read
      operationId: currentStatus
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PnStatusResponse"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'

  "/downtime/history":
    get:
      summary: Ricerca problemi passati
      description: >-
        Elenco dei disservizi di Piattafoma Notifiche riscontrate nel lasso di tempo specificato 
        dai parametri _fromTime_ e _toTime_. <br/>
        Il parametro _functionality_ è opzionale e ripetibile; permette di filtrare i disservizi 
        estratti limitandoli a quelli impattanti le funzionalità elencate.
      tags:
        - Read
      operationId: statusHistory
      parameters:
        - $ref: '#/components/parameters/queryFromTime'
        - $ref: '#/components/parameters/queryToTime'
        - $ref: '#/components/parameters/queryFunctionality'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PnDowntimeHistoryResponse"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'


    ###########################################################################################
    ###                          DOWNLOAD ATTI OPPONIBILI A TERZI                           ###
    ###########################################################################################

  '/downtime/legal-facts/{legalFactId}':
    get:
      summary: Scarica atto opponibile a terzi
      description: >-
        Permette di scaricare un atto opponibile a terzi che permetta di dimostrare un 
        disservizio di piattaforma notifiche e della sua durata.
      tags:
        - Read
      operationId: getLegalFact
      parameters:
        - name: legalFactId
          in: path
          required: true
          description: Identificativo dell'atto opponibile a terzi che si vuole scaricare
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:  
            application/json:
              schema:
                $ref: "#/components/schemas/LegalFactDownloadMetadataResponse"          
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'


    ###########################################################################################
    ###                                MODIFICA DELLO STATO                                 ###
    ###########################################################################################
  "/downtime/events":
    post:
      summary: Modifica lo stato
      description: >-
        XYZ THROTTLING una al millisencondo 
        fare in modo che i cambi di stato per una stessa funzionalità abbiano timestamp diverso.
      tags:
        - Write
      operationId: addStatusChangeEvent
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/PnStatusUpdateEvent"
        required: true
      responses:
        '204':
          description: OK
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'

components:
  parameters:
    
    ###########################################################################################
    ###                          PARAMETRI DI RICERCA DEI DOWNTIME                          ###
    ###########################################################################################
    
    queryFromTime:
      name: fromTime
      in: query
      required: true
      description: data/ora di inizio dell'intervallo entro cui eseguire la ricerca
      schema:
        type: string
        format: date-time
    
    queryToTime:
      name: toTime
      in: query
      required: false
      description: data/ora di fine dell'intervallo entro cui eseguire la ricerca
      schema:
        type: string
        format: date-time
    
    queryFunctionality:
      name: functionality
      in: query
      required: false
      description: funzionalità di Piattaforma Notifiche di cui elencare i downtime
      schema:
        type: array
        items:
          $ref: '#/components/schemas/PnFunctionality'


  schemas:
    
    ###########################################################################################
    ###                DTO VISUALIZZAZIONE STATO DELLA PIATTAFORMA NOTIFICHE                ###
    ###########################################################################################
    PnStatusResponse:
      type: object
      required:
        - functionalities
        - openIncidents
      properties:
        functionalities:
          type: array
          items: 
            $ref: '#/components/schemas/PnFunctionality'
        openIncidents:
          $ref: '#/components/schemas/PnDowntimeHistoryEntry'
    
    PnDowntimeHistoryResponse:
      type: object
      required:
        - result
      properties:
        result:
          type: array
          items: 
            $ref: '#/components/schemas/PnDowntimeHistoryEntry'
        nextPage:
          type: string

    PnDowntimeHistoryEntry:
      type: object
      required:
        - functionality
        - status
        - startDate
      properties:
        functionality:
          $ref: '#/components/schemas/PnFunctionality'
        status:
          $ref: '#/components/schemas/PnFunctionalityStatus'
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        legalFactId:
          type: string
        
    PnFunctionality:
      type: string
      enum:
        - NEW_NOTIFICATION
        - NOTIFICATION_VISUALIZZATION
        - NOTIFICATION_PROCESS  

    PnFunctionalityStatus:
      type: string
      enum:
        - OK 
        - KO
    
    ############################################################################################
    ###                         DTO DOWNLOAD ATTI OPPONIBILI A TERZI                         ###
    ############################################################################################
    
    LegalFactDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      description: >-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file non è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentLength
      properties:
        filename:
          type: string
        contentLength:
          type: number
          example: 54092
          description: dmensione, in byte, del contenuto.
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere il 
            contenuto del documento. Presente solo se il documento è pronto per il download.
        retryAfter:
          type: number
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia scaricabile.
    
    ###########################################################################################
    ###                    DTO MODIFICA STATO DELLA PIATTAFORMA NOTIFICHE                   ###
    ###########################################################################################
    
    PnStatusUpdateEvent:
      type: object
      required:
        - status
        - timestamp
        - functionality
        - sourceType
        - source
      properties:
        status:
          $ref: '#/components/schemas/PnFunctionalityStatus'
        timestamp:
          type: string
          description: richiesto al millisecondo
          format: date-time
        functionality:
          type: array
          items:
            $ref: '#/components/schemas/PnFunctionality'
        sourceType:
          type: string
          enum:
            - ALARM
            - OPERATOR
        source:
          type: string

