# Root folder ownership to administrators and developers team
* @pagopa/pn-pagopa-core-frontier

# scripts/aws/cfn ownership on yml filesto administrators
scripts/aws/cfn/*.yml @pagopa/pn-pagopa-infra
